/*9pt*/
/*9pt*/
/* 12pt din*/
/*default 14pt velino*/
/*13pt*/
/*default is 41px*/
/*default is 34px*/
/*default is 28px*/
/*default is 20px*/
/*a Pixelzoo theme*/
/*Cityscape Styles - v10 trans 11.3*/
/*Sections*/
#CS-header .img-responsive {
  margin: 1px auto; }

#logo {
  background: #d7d7d7;
  height: 200px;
  padding: 40px 10px 20px 10px;
  border-bottom: 1px solid #ffff00; }

#CS-page {
  clear: both;
  max-width: 980px;
  margin: 1px auto; }
  #CS-page .container {
    max-width: 980px; }
  #CS-page section, #CS-page .clear-row {
    clear: both; }

#CS-footer {
  clear: both;
  background: #222222;
  color: #ffffff; }

/* text resets */
.btn, h1, h2, h3 {
  letter-spacing: 0.07em;
  font-weight: 900; }

b, strong {
  font-family: "velino_text_blackblack", serif;
  font-weight: 900; }

p {
  clear: both; }

/* font-weight: 600;*/
.yellow {
  background: #ffff00; }

/*Navbar*/
#CS-header nav {
  border-radius: 0;
  border: none;
  background: #898989;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  /*adjust breaking point vs text size*/ }
  #CS-header nav a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 11.5px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-weight: 600; }
  #CS-header nav li {
    border-right: solid 1px #ffffff; }
  #CS-header nav li:last-child {
    border-right: 0; }
  #CS-header nav li li a {
    color: #898989; }
  #CS-header nav .active > a {
    background: #ff0000; }
  #CS-header nav ul li {
    width: 15.6667%;
    /* fallback for non-calc() browsers*/
    width: calc(100% / 6 );
    /*$nav-item-total*/
    box-sizing: border-box; }

.navbar .navbar-collapse {
  text-align: center;
  padding-right: 0;
  padding-left: 0; }
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  width: 100%; }
  .navbar .navbar-nav > li > a:hover {
    background: #d7d7d7; }

.nav > li > a {
  min-height: 65px;
  padding: 20px 0 0 0; }

.nav-login {
  float: right;
  margin-top: -103px;
  /*adjust position vs text size*/
  background: #b7b7b7; }
  .nav-login li {
    border-right: 0 !important;
    border-left: 1px solid #d7d7d7;
    min-width: 165px; }
  .nav-login li a {
    min-height: 33px;
    padding: 10px 15px;
    font-size: 12px !important;
    letter-spacing: 0.1em !important; }

.navbar-toggle .icon-bar {
  background-color: #ffffff !important; }

/* sub nav drop down */
#CS-header nav .dropdown-menu {
  border-radius: 0;
  border-color: #ffffff;
  border-width: 0 1px 1px 1px;
  margin-left: -1px;
  padding: 0;
  min-width: 203px;
  background-color: rgba(137, 137, 137, 0.8);
  /*$color-grey-dark;*/ }
  #CS-header nav .dropdown-menu li {
    width: 100% !important;
    background: transparent;
    border-top: solid 1px #ffffff;
    border-right: none;
    text-align: center; }
    #CS-header nav .dropdown-menu li a {
      width: 100%;
      min-height: 3em;
      padding-top: 1em;
      text-transform: capitalize;
      color: #222222; }
    #CS-header nav .dropdown-menu li.active > a {
      color: #ff0000;
      background-color: #f5f5f5; }

/*Styles*/
/* Carousel Feature*/
.showcase .breadcrumbs {
  margin-bottom: -10px;
  position: absolute; }
.showcase .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 3em;
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: none;
  text-align: left; }
  .showcase .carousel-caption h2 {
    color: #ff0000;
    font-family: "din_alternatebold", sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  .showcase .carousel-caption h3, .showcase .carousel-caption h3 a {
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 0.3em; }

.content-showcase img {
  padding-bottom: 10px; }

.showcase.content-showcase img {
  padding-bottom: 0px; }

.carousel-control {
  background-image: none !important; }
  .carousel-control .icon-prev {
    left: 10%; }
  .carousel-control .icon-next {
    right: 10%; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%; }

.caption {
  font-size: 0.8em !important;
  background: #ffffff; }

.grey {
  background: #d7d7d7;
  padding: 1em 1em 1em 3em;
  font-family: "velino_text_thinthin", serif; }

.gallery {
  padding-top: 15px;
  padding-bottom: 15px; }

/*Page Text Styles */
.content-text, .content-grid {
  font-family: "velino_text_thinthin", serif; }
  .content-text p, .content-text hr, .content-text h1, .content-text h2, .content-text h3, .content-text h4, .content-text ul, .content-grid p, .content-grid hr, .content-grid h1, .content-grid h2, .content-grid h3, .content-grid h4, .content-grid ul {
    padding: 12px 0;
    margin: 0.5em 0; }
  .content-text p, .content-grid p {
    font-family: "velino_text_thinthin", serif;
    font-size: 14px; }

.title-block {
  background: #898989;
  padding: 0;
  max-width: 170px;
  min-width: 170px;
  text-align: center; }
  .title-block h2, .title-block a {
    color: #ffffff;
    font-family: "din_alternatebold", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0.5em; }
  .title-block.orange {
    background: #ff0000;
    margin: 80px auto; }
  .title-block.red {
    background: #ff0000; }
  .title-block.yellow {
    background: #fff99d;
    margin: 0 0 10px 0; }
    .title-block.yellow h2, .title-block.yellow a {
      color: #898989; }
  .title-block::after {
    clear: both; }

.title-red {
  background: #ff0000; }

.title-count {
  background: #ff0000;
  padding: 0;
  text-align: center;
  float: left; }
  .title-count h2 {
    float: left;
    padding: 0.5em;
    padding-right: 100px; }
    .title-count h2.count {
      min-width: 20px;
      padding-right: 0.5em;
      border-left: 1px solid #ffffff; }
  .title-count h2, .title-count a {
    color: #ffffff;
    font-family: "din_alternatebold", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0; }
  .title-count .count.grey, .title-count .count.grey a {
    color: #898989; }

.content-small p {
  font-size: 13px;
  padding: 0.3em 0; }

/*Buttons - sold and buy*/
.btn {
  background-color: #00b254;
  border-color: #00b254;
  padding: 8px 22px; }
  .btn, .btn a {
    color: #ffffff;
    font-family: "din_alternatebold", sans-serif;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.07em;
    padding: 3px; }
  .btn.sold {
    background-color: #ff0000;
    border-color: #ff0000; }
  .btn.orange {
    background-color: #ff0000;
    border-color: #ff0000;
    min-width: 170px; }

/*GRID styles and spacing of items thumbnails cover videos*/
.cover-recommend, .cover-headline {
  /*12 | 20 |12 |14pt -check font sizes*/
  max-height: 400px;
  min-height: 407px;
  overflow: hidden;
  clear: right;
  color: #000000; }
  .cover-recommend img, .cover-headline img {
    max-height: 230px;
    padding: 0; }
  .cover-recommend h2, .cover-headline h2 {
    font-family: "Raleway", sans-serif;
    padding: 0.3em;
    font-size: 12px;
    text-transform: uppercase; }
  .cover-recommend h1, .cover-headline h1 {
    font-family: "Raleway", sans-serif;
    padding: 0.3em;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase; }
  .cover-recommend P, .cover-headline P {
    font-family: "Stag Light", serif;
    padding: 0.3em;
    font-size: 12px; }
  .cover-recommend h4, .cover-headline h4 {
    font-family: "Raleway", sans-serif;
    padding: 0.3em;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    text-transform: uppercase; }

.cover-headline {
  max-height: 110px;
  min-height: 110px; }

.content-grid article {
  padding: 0; }
  .content-grid article.pink {
    background: #ff8a8a; }
  .content-grid article.blush {
    background: #f6999f; }
  .content-grid article.rosy {
    background: #f9b5ba; }
  .content-grid article.mint {
    background: #c4e4c2; }
  .content-grid article.sunny {
    background: #fff99d; }
  .content-grid article img {
    margin: 0 auto;
    width: 100%; }
.content-grid.thumbnails article {
  padding: 10px 5px; }
  .content-grid.thumbnails article.col-sm-4:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 10px;
    clear: both; }
  .content-grid.thumbnails article.col-sm-4:nth-child(3n) {
    padding-left: 10px;
    padding-right: 0; }
.content-grid.videos {
  padding: 0;
  /*section removed?
  article:nth-child(odd) { padding: 9px 30px 9px 0;}
  article:nth-child(even){ padding: 9px 0 5px 30px;}*/ }
.content-grid.cover {
  margin: -5px;
  padding-top: 10px; }
  .content-grid.cover article {
    padding: 5px 5px;
    margin: 0; }
    .content-grid.cover article img {
      width: 100%; }
    .content-grid.cover article .btn {
      position: absolute;
      right: 5px;
      top: 50%; }
      .content-grid.cover article .btn a {
        font-size: 11px;
        padding: 1em; }
.content-grid.post-list {
  padding-top: 0.5em;
  margin: -15px; }
  .content-grid.post-list article {
    padding: 0;
    margin: 15px; }
    .content-grid.post-list article img {
      width: 100%; }
  .content-grid.post-list p, .content-grid.post-list h1, .content-grid.post-list h2, .content-grid.post-list h3, .content-grid.post-list h4 {
    padding: 15px; }
  .content-grid.post-list .col-sm-4 {
    width: calc(30% - 15px);
    /*auto calc */
  /*section removed?
  article, .title-block.red { margin-left:1em; margin-right:0;}
  }
.col-sm-4:first-child{ width:$width-leftbar;
  article,.title-block.red { margin-left: 0;} */ }
  .content-grid.post-list .post-summary {
    padding-top: 5px; }
    .content-grid.post-list .post-summary article {
      background: #d7d7d7; }
  .content-grid.post-list p {
    font-family: "velino_text_thinthin", serif;
    font-size: 14px;
    padding: 15px; }
  .content-grid.post-list h3 {
    font-family: "velino_text_blackblack", serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 1em;
    margin: -4px 0; }

/* Sidebar and right content styles */
#CS-page section section {
  clear: none; }

.content-sidebars {
  border-top: 2px #ffffff solid;
  color: #000000; }
  .content-sidebars aside {
    padding: 0; }
  .content-sidebars section {
    background: #ffffff;
    padding: 0; }
  .content-sidebars p, .content-sidebars hr, .content-sidebars h1, .content-sidebars h2, .content-sidebars h3, .content-sidebars h4 {
    padding: 0.5em 15px;
    margin: 0; }
  .content-sidebars p {
    font-family: "Stag Light", serif;
    font-size: 14px; }
  .content-sidebars h3 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic; }

.side-summary, .post-summary {
  background: #efefef; }
  .side-summary h3, .post-summary h3 {
    padding: 15px;
    padding-bottom: 0; }
  .side-summary p, .post-summary p {
    padding: 15px;
    line-height: 1.3em; }
  .side-summary .selected, .post-summary .selected {
    background: #fb3434 !important;
    color: #ffffff; }

.side-menu {
  width: 29.2%;
  background: #e2e2e2; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*Styles: Zebra */
.zebra article:nth-child(even) {
  background: transparent; }

.zebra article:nth-child(odd) {
  background: #f9f9f9; }

.zebra.bee article:nth-child(odd) {
  background: #ffff00; }

/* Extras side menu */
nav.sub-menu ul li {
  margin: 15px 0;
  background: #c2c2c2; }
  nav.sub-menu ul li.active {
    background: #ff8a8a; }
  nav.sub-menu ul li h4 {
    padding: 1em 4em 0;
    color: #a1a1a1;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif; }
  nav.sub-menu ul li a {
    padding: 1em 4em;
    color: #707070;
    font-size: 14px;
    font-family: "Raleway", sans-serif; }
  nav.sub-menu ul li a:hover {
    background: none; }

/*magazine headers*/
.magazine.col-sm-9 {
  width: 70.8%; }
.magazine .breadcrumbs {
  margin-bottom: -10px;
  position: absolute; }
.magazine .title-yellow {
  background: #ffff00;
  border-left: 1px solid #ffffff; }
.magazine article:first-child .title-yellow {
  padding-top: 355px;
  overflow: hidden; }
.magazine .title-yellow-image img {
  width: 100%;
  border-left: 1px solid #ffffff; }
.magazine .title-yellow-overlay {
  position: absolute;
  bottom: 0;
  width: 100%; }
.magazine .title, .magazine .date {
  background-color: rgba(255, 255, 255, 0.6); }
.magazine .title {
  padding-bottom: 0.5em;
  padding-top: 0.5em; }
.magazine .date {
  color: #ff0000;
  font-family: "din_alternatebold", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 1em;
  padding-bottom: 0; }
.magazine .issue {
  top: 0;
  position: absolute;
  min-width: 165px;
  border-left: 1px solid #ffffff;
  border-bottom: 0; }
.magazine .showcase {
  margin: 0 15px; }
.magazine .intro {
  font-size: 16px;
  font-family: "velino_text_blackitalic", serif;
  font-weight: 900; }

/* Footer styles */
footer .fullwide {
  background: #2C2D2C;
  padding: 15px; }
footer .footer-narrow {
  max-width: 980px; }
footer .footer-logo a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: #b7b7b7;
  letter-spacing: 0.072em;
  text-decoration: none; }

.footer-text {
  clear: both;
  font-family: "velino_text_thinthin", serif; }
  .footer-text hr {
    border-top: 1px solid #444444;
    margin-top: 15px;
    margin-bottom: 10px; }
  .footer-text p {
    text-align: center;
    padding-bottom: 2em; }

.footer-menu {
  clear: both;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 11.5px;
  letter-spacing: 0.09em;
  line-height: 1.9em;
  padding: 11px 0; }
  .footer-menu a {
    color: #ccc; }
  .footer-menu ul {
    width: 20%;
    float: left;
    padding: 0 15px;
    margin-bottom: 20px; }
    .footer-menu ul:first-child {
      padding-left: 0; }
    .footer-menu ul:last-child {
      padding-right: 0;
      padding-left: 25px; }
    .footer-menu ul li {
      list-style: none;
      padding: 0.3em 0; }
  .footer-menu .foot-menu-head {
    border-bottom: 1px solid #fff;
    max-width: 95px;
    padding-bottom: 0.1em;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em; }
    .footer-menu .foot-menu-head a {
      color: #fff;
      text-decoration: none; }
  .footer-menu .border-left {
    position: relative; }
  .footer-menu .border-left:after {
    content: "";
    position: absolute;
    top: 10px;
    margin: 0 auto;
    border-left: 1px solid #fff;
    height: 192px;
    margin-left: -25px; }

.footer-res {
  font-size: 13px;
  font-family: "HelveticaNeueMediumItalic", sans-serif;
  font-style: italic;
  color: #858585;
  letter-spacing: 0.05em; }

/*login form style*/
.content-login {
  background: url(../images/showcase-gallery.jpg);
  background-size: cover;
  min-height: 720px;
  height: 100vh;
  padding-top: 30px;
  text-align: center; }
  .content-login .login-box {
    padding: 3em 6em;
    margin: 0 auto;
    max-width: 650px;
    background-color: rgba(255, 255, 255, 0.7); }
    .content-login .login-box .logo {
      max-width: 300px;
      margin: 0 auto; }
    .content-login .login-box h1 {
      font-size: 24px;
      color: #ff0000;
      font-family: "velino_text_blackitalic", serif;
      font-weight: 900; }
    .content-login .login-box h2 {
      font-size: 18px;
      font-family: "velino_text_blackitalic", serif;
      font-weight: 900; }
    .content-login .login-box input {
      background: #b7b7b7;
      border: 0;
      border-radius: 0;
      margin: 3px 2%;
      padding: 10px 10px;
      width: 46%;
      float: left;
      font-family: "din_alternatebold", sans-serif;
      font-size: 11px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center; }
      .content-login .login-box input[type="submit"] {
        width: 200px;
        border-radius: 0;
        clear: both;
        float: none;
        background: #ff0000;
        font-size: 14px;
        letter-spacing: 0.07em; }

/*Responsive breakpoints*/
/*adjust max-breaking point vs nav text size*/
@media only screen and (max-width: 980px) {
  #CS-page {
    margin: 1px 10px; } }
@media only screen and (max-width: 767px) {
  /*body{background: #ff00ff;}*/
  .nav-login, #CS-header nav ul li {
    margin: 0;
    float: none;
    width: 100% !important; }

  #CS-header nav li li a {
    color: #ffffff; }

  #CS-header nav li {
    border-right: none; }

  .social-icons {
    max-width: 400px;
    margin: 0 auto; }

  .magazine article:first-child .title-yellow {
    padding-top: 54px;
    max-height: 300px; }

  .content-grid.videos article {
    padding: 5px 0 !important; }

  .content-grid.thumbnails article.col-sm-4:nth-child(3n+1) {
    padding-left: 10px;
    clear: none; }
  .content-grid.thumbnails article.col-sm-4:nth-child(3n) {
    padding-right: 10px; }
  .content-grid.thumbnails article.col-xs-6:nth-child(odd) {
    padding-right: 10px;
    padding-left: 0;
    clear: both; }
  .content-grid.thumbnails article.col-xs-6:nth-child(even) {
    padding-right: 0;
    padding-left: 10px; }

  .row-eq-height {
    display: block !important; }

  .magazine.yellow-image.col-sm-9 {
    width: 70.8%; }

  .magazine.col-xs-12, .side-menu.sub-menu {
    width: 100%; }

  .content-login .login-box {
    padding: 3em 2em; } }
@media only screen and (max-width: 425px) {
  .showcase .carousel-caption {
    right: 20%; }

  .post-list .col-sm-4, .side-menu.col-xs-12 {
    width: 100% !important; }

  .magazine.yellow-image.col-xs-12, .content-login .login-box input.col-xs-12 {
    width: 100% !important; }

  .showcase .carousel-caption {
    display: none;
    right: 0; }
    .showcase .carousel-caption h2 {
      font-size: 0.7em; }
    .showcase .carousel-caption h3 {
      font-size: 1em; }

  .grey {
    padding: 1em; }

  .footer-alt input, .footer-alt input[type="submit"] {
    width: 100%;
    margin-left: 0; }

  .content-login .login-box {
    padding: 1em; }

  .content-grid.post-list .col-sm-4 article, .content-grid.post-list .col-sm-4 .title-block.red {
    margin-left: 0; } }
@media only screen and (max-width: 375px) {
  .col-xs-6 {
    width: 100%; }

  .content-grid.thumbnails article {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
