/*a Pixelzoo theme*/
/*Cityscape Styles - Praxis overrides*/
/*Sections*/

.praxis{
  .title-header .vert-red{
    top:0; bottom: auto; /*move to top*/
  }
  .cover-recommend, .cover-headline {
      &.grey{background: $color-grey-medium;}
      &.storm{background: $color-storm;}
      &.peach{background: $color-peach;}
      &.turq{background: $color-turq;}
      &.banana{background: $color-banana;}
      &.rosy{background: $color-rosy;}
  }
  .content-grid.mixed .col-sm-8{
    margin-left: -$gutter-thin; /*add tablet margin left */
    margin-right: $gutter-thin;

    img {padding-bottom:0;}
    .title-header-overlay {
      position: absolute; bottom: 0;
      padding: 24px 0 30px; position: absolute;  bottom: 0;
      background-color: $overlay-grey;
      }
    .overlay-darker {
      background: $overlay-grey-darker;
      }
    }
  .dropup .dropdown-menu {
    min-width: 100%; border-radius: 0; background: transparent; border:none; box-shadow: none;
    padding:0; margin-bottom:1px;
    li a {
      color: $color-white;
      font-family: $font-raleway; text-transform: uppercase; font-weight: normal;
      font-size: 11px; letter-spacing: $letter-normal; text-align: center;
      padding: 5px 19px;
      background-color:#ccc;
      margin: 3px 0 3px 1px;
       &.grey{background-color: $overlay-grey;}
       &.storm{background-color: $overlay-storm;}
       &.peach{background-color: $overlay-peach;}
       &.turq{background-color: $overlay-turq;}
       &.banana{background-color: $overlay-banana;}
       &.rosy{background-color: $overlay-rosy;}
      }
    }
    h4.location{
      background: $color-sunny; max-height: 68px; min-height: 68px; overflow: hidden;
      padding: 14px 13px;
      font-family: $font-raleway; font-weight: 900; font-style: italic;
      font-size: $font-size-big; text-transform: uppercase; letter-spacing: $letter-normal;
    }
    .cover-recommend p, .cover-headline p{
      max-height: 52px;
    }
    .content-grid.cover article.cover-recommend,
    .content-grid.cover article.cover-headline,
    .content-grid.cover article.quote {
      max-height: 400px;
      min-height: 400px;
    }
}

.nocaps {text-transform: lowercase;}


/* Web GL Map Overides */
#earth_div{
  .we-pm-icon {
    width: 30px !important;
    height: 35px !important;
  }
}
