/* NEW Font styles */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900i');

@font-face {
    font-family:'Stag Light';
    src: url('../fonts/Stag-Light.eot');
	src: url('../fonts/Stag-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stag-Light.woff2') format('woff2'),
		url('../fonts/Stag-Light.woff') format('woff'),
		url('../fonts/Stag-Light.svg#Stag-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Stag Light';
    src: url('../fonts/Stag-LightItalic.eot');
	src: url('../fonts/Stag-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stag-LightItalic.woff2') format('woff2'),
		url('../fonts/Stag-LightItalic.woff') format('woff'),
		url('../fonts/Stag-LightItalic.svg#Stag-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Stag Semibold';
    src: url('../fonts/Stag-Semibold.eot');
	src: url('../fonts/Stag-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stag-Semibold.woff2') format('woff2'),
		url('../fonts/Stag-Semibold.woff') format('woff'),
		url('../fonts/Stag-Semibold.svg#Stag-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Stag Semibold';
    src: url('../fonts/Stag-SemiboldItalic.eot');
	src: url('../fonts/Stag-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Stag-SemiboldItalic.woff2') format('woff2'),
		url('../fonts/Stag-SemiboldItalic.woff') format('woff'),
		url('../fonts/Stag-SemiboldItalic.svg#Stag-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'HelveticaNeue';
    src: url('../fonts/HelveticaNeueLight.eot');
	src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
		url('../fonts/HelveticaNeueLight.woff') format('woff'),
		url('../fonts/HelveticaNeueLight.svg#HelveticaNeue Light') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBold.eot');
	src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueBold.woff2') format('woff2'),
		url('../fonts/HelveticaNeueBold.woff') format('woff'),
		url('../fonts/HelveticaNeueBold.svg#Helvetica Neue Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'HelveticaNeueMediumItalic';
    src: url('../fonts/Helvetica Neue Medium Italic.eot');
	src: url('../fonts/Helvetica Neue Medium Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Helvetica Neue Medium Italic.woff2') format('woff2'),
		url('../fonts/Helvetica Neue Medium Italic.woff') format('woff'),
		url('../fonts/Helvetica Neue Medium Italic.svg#Helvetica Neue Medium Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}



/* OLD Font Styles - DELETE WHEN WE HAVE REPLACED FONTS*/
@font-face {
    font-family: 'din_alternatebold';
    src: url('../fonts/din_alternate_bold-webfont.eot');
    src: url('../fonts/din_alternate_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din_alternate_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_alternate_bold-webfont.woff') format('woff'),
         url('../fonts/din_alternate_bold-webfont.ttf') format('truetype'),
         url('../fonts/din_alternate_bold-webfont#din_alternate_bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'velino_text_thinthin';
	src: url('../fonts/velinotext-thin.eot');
	src: url('../fonts/velinotext-thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/velinotext-thin.woff2') format('woff2'),
		url('../fonts/velinotext-thin.woff') format('woff'),
		url('../fonts/velinotext-thin.ttf') format('truetype'),
		url('../fonts/velinotext-thin.svg#velinotext-thin') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'velino_text_blackblack';
	src: url('../fonts/velinotext-black.eot');
	src: url('../fonts/velinotext-black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/velinotext-black.woff2') format('woff2'),
		url('../fonts/velinotext-black.woff') format('woff'),
		url('../fonts/velinotext-black.ttf') format('truetype'),
		url('../fonts/velinotext-black.svg#velinotext-black') format('svg');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'velino_text_blackitalic';
	src: url('../fonts/velinotext-blackitalic.eot');
	src: url('../fonts/velinotext-blackitalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/velinotext-blackitalic.woff2') format('woff2'),
		url('../fonts/velinotext-blackitalic.woff') format('woff'),
		url('../fonts/velinotext-blackitalic.ttf') format('truetype'),
		url('../fonts/velinotext-blackitalic.svg#velinotext-blackitalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
