/*Responsive breakpoints*/
body{ background: #ffffff;}

/*everything in custom is for desktop and larger*/
@media only screen and (max-width:980px){
body{ background: #cc0055;}
  #CS-page {margin:1px 10px;}
}


@media only screen and (max-width:767px){
/*Half columns for LANDSCAPE to tablets PORTRAIT*/
body{ background: #ff00ff;}

#logo {
  background: #484D4F; padding: 10px;
  .large{ display:none;}
  .small {display: block;}
}

#CS-header {
  .img-responsive.small { margin:1px 80px 1px auto; }
  .navbar { max-height:72px;}
  nav {
    background: transparent;
    margin-top: -72px; height: 72px;
   .navbar-toggle{
     border: none; background: #34383B; border-radius: 0;
     margin: 0;  width: 80px;  height: 72px;
   }
   .icon-bar {  width: 32px;  height: 4px;  border-radius: 0; margin: 4px auto;}
  }
  nav ul li {
    border-right: none; margin:0 ;float:none; width:100% !important;
    a{color: $color-white;}
  }
  .navbar .navbar-nav{
    background: $color-grey-medium;
    width: 50%; float: right;
  }
  .navbar-collapse{
      overflow-x: hidden;
  }
}

.nav-language{display: none;}
.nav-login{display: none; /*margin:0 ;float:none; width:100% !important;*/}


.social-icons { max-width:400px; margin: 0 auto;}

/*.grids*/
  .content-grid.videos article { padding:5px 0 !important;}
  .row-eq-height {    display: block!important;}

  .magazine.col-xs-12, .side-menu.sub-menu{ width:100%; }

/*cover halfs*/
  .content-grid.cover article.cover-recommend.col-xs-6 {width: calc(50% - 0.6em);}
  .content-grid.cover.mixed article.cover-recommend.col-xs-6 {width: calc(100% - 0.6em); min-height:initial; max-height: initial;
  img {display:none;}}
}



@media only screen and (max-width:425px){
/*full width columns for PORTRAIT to phones*/
  body{ background: #00ffff;}

.content-grid {
  &.thumbnails{
    .col-xs-6, .img-responsive{ width:100%;}
    }
  }


  .showcase .carousel-caption{right: 20%;}
  .post-list .col-sm-4, .side-menu.col-xs-12 {width:100%!important; }
  /*.magazine.title-header-image.col-xs-12,*/ .content-login .login-box input.col-xs-12 {width:100%!important; }
  .showcase .carousel-caption{
    display:none;
    right: 0;
    h2 {font-size: 0.7em;}
    h3 {font-size: 1em;}
  }
  .footer-alt input, .footer-alt input[type="submit"]{width:100%; margin-left:0;}
  .content-login .login-box { padding: 1em ;}
  .content-grid.post-list .col-sm-4 article, .content-grid.post-list .col-sm-4 .title-block.red {
    margin-left: 0;}

  .content-grid.cover article.cover-recommend.col-xs-6 {width: calc(100% - 0.6em);}
    .content-grid.cover.mixed article.cover-recommend.col-xs-6 img {display: block;}
  .quote.col-xs-6{ width:100%;}
}

@media only screen and (max-width:375px){
/*tiniest PORTRAIT to phones*/
body{ background: #000fff;}

  .col-xs-6 {width:100%;}
  .content-grid.thumbnails article{padding-left: 0!important; padding-right: 0!important;}

}
