/*Responsive breakpoints*/
/*adjust max-breaking point vs nav text size*/



@media only screen and (max-width:980px){
  #CS-page {margin:1px 10px;}
}

@media only screen and (max-width:767px){
  /*body{background: #ff00ff;}*/
  .nav-login, #CS-header nav ul li {margin:0 ;float:none; width:100% !important;}
  #CS-header nav li li a{color: $color-white;}
  #CS-header nav li{border-right: none;}
  .social-icons { max-width:400px; margin: 0 auto;}
  /*.magazine article:first-child .title-header {padding-top:54px; max-height:300px; }*/
  .content-grid.videos article { padding:5px 0 !important;}
  .content-grid.thumbnails article{
    &.col-sm-4:nth-child(3n+1) {padding-left:10px;clear:none;}
    &.col-sm-4:nth-child(3n) {padding-right:10px;}
    &.col-xs-6:nth-child(odd) {padding-right:10px; padding-left:0; clear:both;}
    &.col-xs-6:nth-child(even) {padding-right:0; padding-left:10px;}
   }
  .row-eq-height {    display: block!important;}
  /*.magazine.title-header.col-sm-9 { width: $width-rightbar;}*/
  .magazine.col-xs-12, .side-menu.sub-menu{ width:100%; }
  .content-login .login-box { padding: 3em 2em;}

  .content-grid.cover article.cover-recommend.col-xs-6 {width: calc(50% - 0.6em);}
  .content-grid.cover.mixed article.cover-recommend.col-xs-6 {width: calc(100% - 0.6em); min-height:initial; max-height: initial;
  img {display:none;}}
}
@media only screen and (max-width:425px){
  .showcase .carousel-caption{right: 20%;}
  .post-list .col-sm-4, .side-menu.col-xs-12 {width:100%!important; }
  /*.magazine.title-header-image.col-xs-12,*/ .content-login .login-box input.col-xs-12 {width:100%!important; }
  .showcase .carousel-caption{
    display:none;
    right: 0;
    h2 {font-size: 0.7em;}
    h3 {font-size: 1em;}
  }
  .footer-alt input, .footer-alt input[type="submit"]{width:100%; margin-left:0;}
  .content-login .login-box { padding: 1em ;}
  .content-grid.post-list .col-sm-4 article, .content-grid.post-list .col-sm-4 .title-block.red {
    margin-left: 0;}
  .content-grid.cover article.cover-recommend.col-xs-6 {width: calc(100% - 0.6em);}
    .content-grid.cover.mixed article.cover-recommend.col-xs-6 img {display: block;}
  .quote.col-xs-6{ width:100%;}
}
@media only screen and (max-width:375px){
  .col-xs-6 {width:100%;}
  .content-grid.thumbnails article{padding-left: 0!important; padding-right: 0!important;}

}
